body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #303846;
    margin: 70px 0 0 0;
    padding: 0;
}

.header-styles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-weight: 600;
    padding: 10px;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.horizontal-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}

.horizontal-menu li {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.a-color-dark {
    color: #303846;
}

.above-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/banner-crop.png);
}

.w-1000 {
    width: 1000px;
    overflow-x: hidden;
}

.col {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.text-above-img {
    margin: 1px;
    color: white;
    font-weight: 600;
}

.bigger-text {
    font-size: 36px;
}

.btn {
    background: transparent;
    margin-top: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    width: 125px;
    border-width: 1px;
    border-style: solid;
}

.btn-color-white {
    border-color: white;
    color: white;
}

.btn-color-green {
    border-color: #08e2b3;
    color: #08e2b3;
    font-weight: bold;
}

.main-content-box {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.w-300 {
    max-width: 300px;
    margin: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.bold-big {
    font-size: 27px;
    font-weight: bold;
}

.color-grey {
    background-color: #f7f7f7;
}

.color-white {
    background-color: white;
}

.img-center-of-text {
    display: flex;
    align-items: center;
}

.w-500-right {
    max-width: 500px;
    margin-right: 70px;
    margin-bottom: 20px;
}

.w-500-left {
    max-width: 500px;
    margin-left: 70px;
}

fieldset {
    border-color: #08e2b3;
    width: 350px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

legend {
    color: #08e2b3;
    font-weight: bold;
    font-size: 18px;
}

.content-1 {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-field-style {
    border: 1.5px solid rgba(158, 158, 158, 0.5);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.wider-select {
    width: 133px;
}

.extra-padding {
    padding-bottom: 50px;
    padding-top: 30px;
}

.footer-styles {
    display: flex;
    flex-wrap: wrap;
    background-color: #303846;
    color: white;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bolder-text-footer {
    font-weight: 600;
    font-size: 18px;
}

.thinner-text-footer {
    font-weight: 300;
    font-size: 14px;
}

.min-w-300 {
    min-width: 300px;
}

.anchor {
    position: relative;
    top: -70px;
}